<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pdv">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".TelaVenda"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:label="Vendas">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:label="Produtos">
        </activity>
        <activity android:name=".AddProduto"
            android:label="Cadastro de Produtos">
        </activity>
        <activity android:name=".PesquisarProduto"
            android:label="Pesquisar Produtos">
        </activity>
        <activity android:name=".SyncAct"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:label="PDV Backup">
        </activity>
        <activity android:name=".TelaCompra"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:label="Compras">
        </activity>
        <activity android:name=".ReportAct"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:label="Relatório">
        </activity>
    </application>

</manifest>